.lirium-card {
  font-family: 'Manrope', sans-serif;
  color: #55001A;

  background-color: #f7e0e3;
  padding: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
    
  max-width: 260px;
  height: 420px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  transition: 
        transform 0.35s ease,
        box-shadow 0.35s ease;
        
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

}

.lirium-card:hover{
    transform: translateY(-8px) scale(1.02);

    box-shadow:
        0 18px 35px rgba(0,0,0,0.12),
        0 8px 15px rgba(0,0,0,0.08);
}

/* IMAGEM */
.card-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 8px;
  transition: all 0.4s ease;
}

.card-title{
  font-size: 17px;
}

.card-flowers, .card-colors{
  font-size: 14px;
}

.card-flowers, .card-colors{
  margin-top: 4px;
}

.card-price{
  margin-top: 8px;
}

.favorite-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #d78894;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #94a3b8;
  transition: 0.3s;
}

.favorite-btn.active {
  color: #55001A;
  background: #d7889483;
}

.favorite-btn:hover { transform: scale(1.1); }

/* BOTÃO */
.about-btn {
  color: #ffffff;
  font-weight: 600;

  background-color: #d78894;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 10px 0;
  margin-top: 9px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s ease;
}

.about-btn:hover {
  background-color: #c46c78;
}