.lirium-footer{
    width: 100%;
    background-color: #F0EFEC;
    display: flex;
    flex-direction: column;

    margin-top: 64px;
    padding: 56px 48px 16px;
    gap: 16px;

    color: #3A5A40;

    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.08);
}

/* container-superior */
.footer-top{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* bloco-direito */
.main-footer{
    flex: 1;

    max-width: 700px;
    gap: 24px;

    display: flex;
    flex-direction: column;
}

.footer-title h3{
    font-size: 1.12rem;
    font-weight: 700;

    text-transform: uppercase;
}

.footer-text p{
    font-family: Manrope;
    font-size: 0.7rem;
    text-align: justify;
    word-spacing: 0.11rem;
    line-height: 1.6rem;
}

/*bloco-direito*/
.side-footer{
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 56px;
}

/* NAVBAR */

.footer-navbar{
    display: flex;
    flex-direction: column;

    gap: 11px;

    padding: 0px 48px;

    border-left: 1px solid #9f9f9f;
    border-right: 1px solid #9f9f9f;
}

.footer-navbar h4{
    font-size: 0.9rem;
    font-weight: 700;

    color: #2b2b2b;

    margin-bottom: 12px;
}

.footer-navbar .nav-item{
    width: fit-content;
    display: inline-block;
    position: relative;

    font-size: 0.8rem;
    color: #555;

    cursor: pointer;
    transition: 0.2s;
}

.footer-navbar .nav-item::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.25rem;
    width: 100%;
    height: 0.0875rem;
    background: #d78894;

    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.footer-navbar .nav-item:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.footer-navbar .nav-item.active {
    color: #d78894;
    transform: scale(1.05);
}

.footer-navbar .nav-item.active::after {
    transform: translateX(-50%) scaleX(1);
}

/* DEVELOPERS */

.developers{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.developer{
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.developer h5{
    font-size: 0.85rem;
    font-weight: 700;

    color: #2b2b2b;

    text-transform: uppercase;
}

.developer .contacts{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.developer a{
    display: flex;
    align-items: center;

    gap: 12px;

    width: fit-content;

    text-decoration: none;

    color: #555;

    transition: 0.3s;
}

.developer a:hover{
    color: #000;

    transform: translateX(4px);
}

/* COPYRIGHT */

.bottom-footer{
    width: 100%;
    border-top: 1px solid #d3d3d3;
    padding-top: 16px;
}

.bottom-footer p{
    text-align: center;
    font-family: Manrope;
    font-size: 0.64rem;
    color: #666;
}

/* RESPONSIVO */

@media(max-width: 1100px){

    .footer-top{
        flex-direction: column;

        gap: 40px;
    }

    .main-footer{
        max-width: 100%;
    }
}

@media(max-width: 700px){

    .side-footer{
        flex-direction: column;

        gap: 36px;
    }

    .footer-navbar{
        width: 100%;

        border-right: none;
        border-bottom: 1px solid #9f9f9f;

        padding-right: 0;
        padding-bottom: 24px;
    }

    .lirium-footer{
        padding: 40px 24px;
    }
}