body {
  font-family: 'Aboreto', cursive;
}

.lirium-header{
    flex-direction: column;
    height: 3.75rem;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.main-header{
    background-color: #F0EFEC;
    color: #3A5A40;

    height: 3.125rem;
    width: 100vw;

    display: flex;
    align-items: center;

    padding: 3.125rem 1.875rem;
    border-bottom: 0.625rem solid #F0EFEC;
}

.right-header,
.logo,
.left-header {
  flex: 1;
}



.logo { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem 1.625rem;
  background-color: #F0EFEC;
  border: 0.0625rem solid rgba(198, 169, 105, 0.6);
  cursor: pointer;
  transition: all 0.35s ease;
}

.logo-box:hover {
  transform: translateY(0.125rem);
}

.logo-main {
  font-family: 'Aboreto', cursive;
  font-size: 1.625rem; letter-spacing: 0.375rem;
  color: #3A5A40; transition: all 0.35s ease;
}

.logo-divider {
  width: 45%;
  height: 0.0625rem;
  background: linear-gradient(90deg, #C6A969, #D88C9A);
  margin: 0.375rem 0; transition: all 0.4s ease; }
  
.logo-sub {
  font-size: 0.625rem;
  letter-spacing: 0.1875rem;
  color: #C6A969;
  transition: 0.3s; }
  
.logo-box:hover .logo-main {
  letter-spacing: 0.5625rem;
}

.logo-box:hover .logo-divider{
  width: 85%;
}

.logo-box:hover .logo-sub {
  letter-spacing: 0.25rem;
  opacity: 0.9;
}



.dashboard{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 2.1875rem;
}



.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box {
  position: absolute;
  left: 2.8125rem;

  width: 0;
  opacity: 0;

  overflow: hidden;

  transition: all 0.4s ease;
}

.search-box.active {
  width: 28.5rem;
  opacity: 1;
}

.search-box input {
  width: 100%;
  padding: 0.5rem 0.75rem;

  border-radius: 20px;
  border: 0.0625rem solid #ccc;

  outline: none;

  transform: scaleX(0.8);
  transition: 0.3s;
}

.search-box.active input {
  transform: scaleX(1);
}



.icon-btn {
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  cursor: pointer;

  transition: all 0.25s ease;
}

.icon-btn svg {
  pointer-events: none;
}

.icon-btn:hover {
  transform: scale(1.1);

  background-color: rgba(198, 169, 105, 0.12);

  box-shadow: 
    0 0 6px rgba(198, 169, 105, 0.3),
    0 0 12px rgba(198, 169, 105, 0.15);
}

.icon-btn:active {
  transform: scale(0.95);
}

.right-area .icon-btn:last-child:hover {
  background-color: rgba(198, 169, 105, 0.18);

  box-shadow: 
    0 0 0.5rem rgba(198, 169, 105, 0.5),
    0 0 1rem rgba(198, 169, 105, 0.25);
}



nav{
    background-color: #F0EFEC;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 1.25rem 1.25rem 1.25rem;
    gap: 1.25rem;
}

.nav-item{
    font-family: 'Aboreto', cursive;
    font-weight: 500;
    font-size: 1.0625rem;

    display: inline-block;

    position: relative;
    
    cursor: pointer;
    transition: 0.2s;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.25rem;
  width: 100%;
  height: 0.0875rem;
  background: #d78894;;

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-item:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.nav-item.active {
  color: #d78894;
  transform: scale(1.05);
}

.nav-item.active::after {
  transform: translateX(-50%) scaleX(1);
}