.lirium-app{
  /* background-color: #ffffff; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.lirium-main{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.lirium-content{
  padding: 40px;
}



.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* joga setas pra direita */
  width: 100%;
}

/* Agrupa flor + título */
.title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* Flor atrás */
.flower-bg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 0.4; /* opcional */
}

/* Título na frente */
.section-title {
  position: relative;
  z-index: 1;
  margin-left: 10px; /* espaço pra flor aparecer */
}

/* Setas no final */
.arrows {
  display: flex;
  gap: 10px;
}



.lirium-grid{
  z-index: 90;
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
}

