.lirium-app{
  display: flex;
  min-height: 100vh;
}

.lirium-main{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.lirium-content{
  padding: 40px;
}

.section-title{
  margin-bottom: 25px;
  border-left: 4px solid red;
  padding-left: 15px;  
}

.lirium-grid{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}