.lirium-app{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.lirium-main{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  width: 100%;
}

.lirium-content{
  padding: 40px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* HEADER */
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.flower-bg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 0.4;
}

.section-title {
  position: relative;
  z-index: 1;
  margin-left: 10px;
}

.arrows {
  display: flex;
  gap: 10px;
}

/* GRID (agora só estrutura, sem grid real) */
.lirium-grid{
  margin-top: 50px;
  width: 100%;
}

/* CONTAINER DOS CARDS */
.cards-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  width: 100%;
}

.search-error{
  font-family: Manrope;
  max-width: none;
  white-space: nowrap;
}

.section-in-between{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 8px;

  background-color: #F3F3F3;
  border: 0.0625rem solid rgba(198, 169, 105, 0.6);
  padding: 40px;
}

.section-in-between h1{
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

.section-in-between p{
  font-family: Manrope;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 0.1rem;
}

.second-section{
    margin-top: 60px;
}

.second-cards-container{
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
}